script(src='js/three.min.js')
script(src='js/jquery-1.11.1.js')
script(src='js/jquery-ui.js')
script(src='js/d3.min.js')
script(src='js/d3.parcoords.js')
script(src='js/underscore.js')
script(src='js/jquery-ui-scrollable.js')
script(src='js/selectableScroll.js')
script(src='three/three.js')
script(src='util/util.js')
script(src='model/actiondb.js')
script(src='model/action.js')
script(src='animator/ActionAnimator.js')
script(src='view/ui.js')
script(src='view/picker.js')
script(src='view/actionpicker.js')
script(src='view/statistics.js')
script(src='view/animationcontrol.js')