
<p><span class="mail">contact: f{lastname}@lidi.info.unlp.edu.ar </span></p>

<!-- 
<div class="iconlist">
<a class="logo" title="III-LIDI" aria-label="III-LIDI" href="http://www.lidi.info.unlp.edu.ar/"> <img src="assets/img/logo/lidi.png" /> </a>

<a class="logo" title="Facultad de Informática" aria-label="III-LIDI" href="http://www.info.unlp.edu.ar/"> <img src="assets/img/logo/info.png" /> </a>


<a class="logo" title="Universidad Nacional de La Plata" aria-label="III-LIDI" href="http://www.unlp.edu.ar/"> <img src="assets/img/logo/unlp.png" /> </a>

</div>
 -->
