<!-- https://iconify.design/icon-sets/simple-icons/dblp.html -->

<a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="https://github.com/facundoq">
      {% include svg/github.svg %}
    </a>

<a id="linkedin-link"
class="icon" title="LinkedIn Profile" aria-label="LinkedIn Profile"
href="https://www.linkedin.com/in/facundoq/">
{% include svg/linkedin.svg %}
</a>

<a id="dblp-link"
class="icon" title="DBLP Profile" aria-label="DBLP Profile"
href="http://dblp.uni-trier.de/pers/hd/q/Quiroga:Facundo">
{% include svg/dblp.svg %}
</a>

<a id="googlescholar-link"
class="icon" title="Google Scholar Profile" aria-label="Google Scholar Profile"
href="https://scholar.google.com.ar/citations?user=kGvlEYAAAAAJ">
{% include svg/googlescholar.svg %}
</a>

<a id="orcid-link"
    class="icon" title="Orcid" aria-label="Orcid"
    href="https://orcid.org/0000-0003-4495-4327">
   {% include svg/orcid.svg %}
 </a>