    {% if project.github %}
    <a href="{{project.github}}" class="iconlink">
      <img src="/assets/img/github.png" />
    </a>
    {% endif %} 
    {% if project.paper %}
    <a href="{{project.paper}}" class="iconlink">
      <img src="/assets/img/paper.png" />
    </a>
    {% endif %}
    {% if project.slides %}
    <a href="{{project.slides}}" class="iconlink">
      <img src="/assets/img/slides.png" />
    </a>
    {% endif %}
    {% if project.data %}
    <a href="{{project.data}}" class="iconlink">
      <img src="/assets/img/data.png" />
    </a>
    {% endif %}
  