<div class="project">
  
  
  <div class="project-content">
    <div class="project-name">
      
      <h3><a href="{{project.url}}"> {{project.name}}</a> {% if project.year %} ({{project.year}}) {% endif %} 
      </h3>
      {%include  project_links.html %}
    </div>

    <div class="project-image-container">
      <a href="{{project.url}}">
        <img class="project-image" src="/assets/projects/{{project.img}}"/>
      </a>
    </div>  
  </div>

  <div class="project-description">
    <div class="project-text">
      <p>{{project.desc}}</p>
    </div>
    {%include  project_collaborators.html %}
  </div>

</div>
