link(rel='stylesheet', href='js/jquery-ui.css')
link(rel='stylesheet', href='js/jquery-ui.structure.css')
link(rel='stylesheet', href='js/jquery-ui.theme.css')
link(rel='stylesheet', href='js/d3.parcoords.css')
link(rel='stylesheet', type='text/css', href='style.css')