  <!DOCTYPE html>
  <html lang="{{ site.lang | default: "es-AR" }}">
    <head>
      <meta charset="UTF-8">

      {% seo %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#157878">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
      <header class="page-header" role="banner">
        <a href="https://facundoq.github.io/" class="btn">Facundo Quiroga</a>
        <a href="https://github.com/facundoq/" class="btn">Github</a>
        <a href="https://www.linkedin.com/in/facundoq/" class="btn">Linkedin</a>
        <a href="https://scholar.google.com.ar/citations?user=kGvlEYAAAAAJ" class="btn">Google Scholar</a>
        <a href="http://dblp.uni-trier.de/pers/hd/q/Quiroga:Facundo" class="btn">DBLP</a>
        <a href="https://orcid.org/0000-0003-4495-4327" class="btn"><img src="https://orcid.org/sites/default/files/images/orcid_32x32.png"/> ORCID</a>
        <h1 class="project-name">{{ page.header }}</h1>
      </header>

      <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
          <h2> Contacto</h2>
          <p>\[first letter of my name\]{lastname}@lidi.info.unlp.edu.ar</p>
          <p><a href="http://www.lidi.info.unlp.edu.ar/">III-LIDI</a>,
          <a href="http://www.info.unlp.edu.ar/">Facultad de Informática</a>,
          <a href="http://www.unlp.edu.ar/">Universidad Nacional de La Plata</a></p>
        </footer>
      </main>

    </body>
  </html>
