<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>

        <p>\[first letter of my name\]{lastname}@lidi.info.unlp.edu.ar</p>
        <p><a href="http://www.lidi.info.unlp.edu.ar/">III\-LIDI Informatics Institute</a></p>
        <p><a href="http://www.info.unlp.edu.ar/">Informatics Faculty</a></p>
        <p><a href="http://www.unlp.edu.ar/">Universidad Nacional de La Plata</a></p>
			</footer>
		</body>
	</html>
