

  <!DOCTYPE html>
  <html lang="{{ site.lang | default: "en-US" }}">
    <head>
      <meta charset="UTF-8">

  {% seo %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="theme-color" content="#157878">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    </head>
    <body>
      <a id="skip-to-content" href="#content">Skip to the content.</a>

      <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: }}</h2>
      </header>

      <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
          <p>\[first letter of my name\]{lastname}@lidi.info.unlp.edu.ar</p>
          <p><a href="http://www.lidi.info.unlp.edu.ar/">III\-LIDI Informatics Institute</a></p>
          <p><a href="http://www.info.unlp.edu.ar/">Informatics Faculty</a></p>
          <p><a href="http://www.unlp.edu.ar/">Universidad Nacional de La Plata</a></p>
        </footer>
      </main>

    </body>
  </html>
